name: Selenium PyTest Allure CI

# When to trigger the workflow
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  selenium-tests:
    runs-on: ubuntu-latest  # GitHub runner

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install allure-pytest webdriver-manager

    - name: Install Chrome
      uses: browser-actions/setup-chrome@v1

    - name: Run PyTest with Allure
      run: |
        mkdir -p allure-results
        pytest -v --tb=short --alluredir=allure-results 

    - name: Upload Allure Results
      uses: actions/upload-artifact@v4
      with:
        name: allure-results
        path: allure-results